*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.carousel-item .legendaBanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffae;
    width: 500px;
    min-height: 300px;
    height: auto;
    color: #000;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px 6px #55a967;
    border-radius:0px 8px 8px 0px
}
section{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 800px;
    margin: 0px;
    padding: 0px;
}
section.list{
    margin: 0 auto;
    width: 95%;
}
section.maisvendidos{
    background-image: url(../images/background/bg4.jpeg);
}
section.maislancamentos{
    background-image: url(../images/background/bg1.jpeg);
}
section.maisofertas{
    background-image: url(../images/background/bg3.jpeg);
}
.list .row .col{
    white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
}