<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bem vindo a loja do Perentino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <a class="navbar-brand" href="#">
        <img src="./public/images/logo-b.svg" alt="Logo" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Botão 1</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Botão 2</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Botão 3</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Botão 4</a></li>
        </ul>
    </div>
</nav>

</header>
<!-- Navbar -->


<!-- Slide Show -->
<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <video class="d-block w-100" autoplay muted loop>
                <source src="./public/movies/bg-movie4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="legendaBanner"><img src="./public/images/logo.svg" alt=""></div>
        </div>
        
        <!-- Adicione outras imagens ou vídeos aqui -->
    </div>
</div>
<section class="maisvendidos">
      <div class="container mt-3">
        <!-- Seção 1: Produtos Mais Vendidos -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h2>Produtos Mais Vendidos</h2>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/skins/img01.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/skins/img02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/skins/img03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/skins/img04.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
</section>
<section class="maislancamentos">
      <div class="container mt-3">
        <!-- Seção 1: Produtos Lançamentos -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h2>Produtos Lançamentos</h2>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/nfts/Amora.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/nfts/nilo.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="public/images/nfts/gavião1.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/nfts/porco1.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
</section>
<section class="maisofertas">
      <div class="container mt-3">
        <!-- Seção 1: Produtos Ofertas -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h2>Produtos Ofertas</h2>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/nfts/Astraldo.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/nfts/JamesZXZ.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/skins/img27.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="./public/images/skins/img28.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
</section>

<!-- Rodapé -->
<footer class="bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <!-- Card 1: Informações da Loja -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informações da Loja</h5>
                        <p class="card-text">Nome da Loja</p>
                        <p class="card-text">CNPJ: 12.345.678/0001-90</p>
                        <p class="card-text">Horário de Funcionamento: 9:00 - 18:00</p>
                    </div>
                </div>
            </div>
            <!-- Card 2: Endereço -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Endereço</h5>
                        <p class="card-text">123 Rua Fictícia</p>
                        <p class="card-text">Bairro Imaginário</p>
                        <p class="card-text">Cidade dos Sonhos</p>
                    </div>
                </div>
            </div>
            <!-- Card 3: Contato -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contato</h5>
                        <p class="card-text">Telefone: (11) 1234-5678</p>
                        <p class="card-text">E-mail: contato@lojaficticia.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</body>
</html>
